@import './theme';
@import './utils';

#credits {
  background: $page-bg;
  overflow-x: hidden;
  position: relative;
  z-index: 3;

  #credits-title {
    @include gradient-title;
    align-items: center;
    display: flex;
    font: $stylized-font;
    font-size: 46px;
    justify-content: center;
    margin-top: -20px;
    padding-top: 78px;
    text-align: center;

    span {
      background: -webkit-linear-gradient(45deg, $dark1, $med1);
      background-clip: text;
      margin-left: 15px;
    }

    img {
      display: inline-block;
      height: 60px;
      position: relative;
      top: 5px;
      width: 60px;
    }
  }

  #credit-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto -230px;
    max-width: 1060px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;

    @media (max-width: 1000px) {
      margin-bottom: -270px;
    }
    @media (max-width: 900px) {
      margin-bottom: -150px;
    }
    @media (max-width: 600px) {
      margin-bottom: -60px;
    }

    .credit-block {
      margin-bottom: 20px;
      width: 300px;

      .credit-category {
        @include gradient-title;
        color: black;
        font: $stylized-font;
        font-size: 38px;
        margin-top: 40px;
      }

      .credit-one-person {
        font-size: 16px;
        margin-top: 16px;

        .credit-name {
          .credit-avatar {
            bottom: -3px;
            display: inline-block;
            margin-right: 8px;
            position: relative;
            width: 20px;

            img {
              border-radius: 50%;
              height: auto;
              width: 100%;
            }
          }
        }
        .credit-details, .credit-artworks {
          color: $faded1;
          font-size: 12px;
          margin-top: 3px;
        }

        .credit-artworks a[href]:not([href=""])::before {
          background-size: 10px 10px;
          background: url('/images/anchor.svg');
          content: '';
          display: inline-block;
          height: 10px;
          margin-right: 4px;
          opacity: .5;
          position: relative;
          top: 1px;
          width: 10px;
        }
      }
    }
  }

  #footer-background {
    align-items: flex-end;
    background: center bottom / contain no-repeat url(../images/coco_looking_at_horizon.png);
    display: flex;
    height: auto;
    left: 50%;
    max-width: 1400px;
    min-height: 350px;
    min-width: 700px;
    position: relative;
    transform: translateX(-50%);
    width: 100%;

    @media (max-width: 768px) {
      min-height: 280px;
    }
    @media (max-width: 600px) {
      min-height: 200px;
    }
    
    #related-sites {
      color: #FDF6F3;
      font-size: 12px;
      margin: 0 auto 5px;
      text-align: center;
      text-shadow: 0px 0px 2px #000, 0px 0px 2px #000;

      a {
        margin: 0 10px;
      }

      a::before {
        background-size: 10px 10px;
        background: url('/images/anchor.svg');
        content: '';
        display: inline-block;
        filter: invert(1);
        height: 10px;
        margin-right: 4px;
        opacity: .9;
        position: relative;
        top: 1px;
        width: 10px;
      }
    }
  }
}
