@import './theme';
@import './utils';

#credit-wrapper {
  #credits-strip-under-nav {
    @include strip-under-nav;
    background: $page-bg;
    z-index: 4;
  }

  overflow-x: hidden;
  position: relative;
  z-index: 3;
  background: $page-bg;

  #credits-title {
    // @include gradient-title-dark;
    @include gradient-title;
    font: $stylized-font;
    font-size: 46px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 78px;
    margin-top: -20px;
    span {
      background: -webkit-linear-gradient(45deg, $dark1, $med1);
      background-clip: text;
      margin-left: 15px;
    }
    img {
      width: 60px;
      height: 60px;
      position: relative;
      top: 5px;
      display: inline-block;
    }
  }

  #credits {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto -230px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    z-index: 2;

    @media (max-width: 1000px) {
      margin-bottom: -270px;
    }
    @media (max-width: 900px) {
      margin-bottom: -150px;
    }
    @media (max-width: 600px) {
      margin-bottom: -60px;
    }

    .credit-block {
      width: 300px;
      margin-bottom: 20px;

      .credit-category {
        @include gradient-title;
        // @include gradient-title-dark;
        color: black;
        font: $stylized-font;
        font-size: 38px;
        margin-top: 40px;
      }

      .credit-one-person {
        font-size: 16px;
        margin-top: 16px;

        .credit-name {
          .credit-avatar {
            display: inline-block;
            width: 20px;
            position: relative;
            bottom: -3px;
            // left: -4px;
            margin-right: 8px;
            img {
              width: 100%;
              height: auto;
              border-radius: 50%;
            }
          }
        }

        .credit-details, .credit-artworks {
          margin-top: 3px;
          font-size: 12px;
          color: $faded1;
        }
      }
    }
  }
}

#coco-looking-at-horizon {
  background: center bottom / contain no-repeat url(../images/coco_looking_at_horizon.png);
  width: 100%;
  max-width: 1400px;
  height: auto;
  min-height: 350px;
  position: relative;
  min-width: 700px;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 768px) {
    min-height: 280px;
  }
  @media (max-width: 600px) {
    min-height: 200px;
  }
}
