@import './theme';
@import './utils';

.header-bg {
  overflow: hidden;
  position: absolute;
  height: 90vh;
  top: 0;
  width: 100%;
  // background-image: linear-gradient(43deg, #d9a7c7 0%, #fffcdc 100%);
  // background: center / cover url(../images/kanata_looking_at_dragon.png);
  img {
    position: relative;
    height: 90vh;
    // margin-left: 50%;
    // transform: translateX(-50%);
    width: 100vw;
    object-fit: cover;
  }

  #dark-overlay {
    background: rgba(0,0,0,.5);
    position: absolute;
    z-index: 2;
    height: 90vh;
    width: 100%;
  }
}

#header {
  background: $playlist-bg;
  position: relative;
  color: $header-text-color;
  // z-index:10;
  height: 90vh;
  width: 100%;

  #header-text-container {
    user-select: none;
    font: $stylized-font;
    font-size: Min(90px, 9vw);
    width: 80vw;
    height: Min(90vh, 800px);
    position: relative;
    z-index: 3;
    white-space: nowrap;
    text-shadow: $textBorder4px;

    @media (max-width: 500px) {
      text-shadow: $textBorder2px;
    }
  }

  #text-to-the-strongest {
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    top: 50%;
    margin-left: -43%;
    transform: translateY(-200%);
    // transform: translateY(-280%) translateX(-83%) translateZ(0);
  }

  #text-luknight {
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    top: 50%;
    margin-right: -43%;
    // margin-left: -43%;
    // left: 50%;
    transform: translateY(-00%);
  }

  #cocoTatooContainer {
    width: 100%;
    position: relative;

    #cocoTatooCircle {
      position: fixed;
      width: Min(60vw, 600px);
      height: Min(90vh, 650px);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;

      div {
        width: 100%;
        height: 100%;

        img {
          margin: 5vh auto;
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

