@import 'theme.scss';
@import 'utils.scss';

#intro {
  background: $playlist-bg;
  color: white;
  font-size: Clamp(22px, 2.75vw, 36px);
  padding: 50px 0;
  position: relative;
  transform-style: preserve-3d;
  z-index: 4;

  p {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 25px;

    &:nth-of-type(2) {
      margin-top: 25px;
    }
  }

  &::before {
    background: linear-gradient(
      180deg,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,.4) 100%,
    );
    content: '';
    height: 30px;
    position: absolute;
    top: -30px;
    width: 100%;
  }

  &::after {
    background: rgba(0,0,0,.4);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: .5s;
    width: 100%;
    z-index: 4;
  }

  &.at-top::after {
    opacity: 1;
  }
}
