#language-switcher {
  cursor: pointer;
  user-select: none;

  position: fixed;
  font-size: 25px;
  top: 5px;
  left: 12px;
  transition: .5s;
  z-index: 9;

  img {
    height: 25px;
    width: 40px;
    border: 1px solid rgba(#333, .2);
    object-fit: cover;
  }

  &.at-top {
    opacity: .4;
  }

  @media (max-width: 700px) {
    top: unset;
    bottom: 5px;
  }
}
