#language-switcher {
  cursor: pointer;
  user-select: none;

  position: fixed;
  font-size: 25px;
  top: 5px;
  right: 30px;
  transition: .5s;
  z-index: 9;

  &.at-top {
    opacity: .4;
  }

  @media (max-width: 700px) {
    top: unset;
    bottom: 5px;
  }
}
