@import 'theme.scss';
@import 'utils.scss';

#messages {
  background: $page-bg;
  padding-top: 40px;
  position: relative;
  width: 100%;
  z-index: 3;

  #messages-title {
    @include gradient-title;
    align-items: center;
    display: flex;
    font: $stylized-font;
    justify-content: center;
    margin: 30px auto 10px;
    padding: 36px 30px 0;
    text-align: center;
    text-rendering: optimizeLegibility;

    span.messages-title {
      background: -webkit-linear-gradient(45deg, $dark1, $med1);
      background-clip: text;
      font-size: 46px;
      margin-left: 30px;

      @media (max-width: 450px) {
        font-size: 26px;
      }
    }

    img.sourced-img {
      width: 130px;
      height: 130px;
      display: inline-block;
    }

    .arrow-down { top: 6px; }
  }

  .messages-list {
    display: flex;
    justify-content: space-between;
    left: -20px;
    margin: 0 auto;
    position: relative;
    width: 1200px;

    @media (max-width: 1200px) {
      max-width: 850px;
      width: 100%;
    }
    @media (max-width: 850px) {
      max-width: 600px;
    }

    .messages-column {
      padding-left: 40px;

      img {
        display: block;
        margin: 0 auto;
        max-width: 200px;
      }
    }

    .message {
      margin: 25% auto;
      max-width: 600px;
      position: relative;
      width: 100%;

      p {
        margin-block-start: 0em;
        margin-block-end: 0em;
      }

      &::before {
        color: rgba(0,0,0,.05);
        content: '“';
        font-size: 150px;
        font-style: italic; // override jp
        font: $stylized-font;
        left: -30px;
        position: absolute;
        text-shadow: none;
        top: -60px;
        z-index: -1;
      }

      .message-signature {
        color: $faded1;

        &::before { content: '— '; }

        .message-icon {
          display: inline-block;
          height: 20px;
          margin-right: 5px;
          width: 20px;

          img {
            border-radius: 50%;
            height: auto;
            margin-right: 3px;
            position: relative;
            top: 5px;
            width: 100%;
          }
        }
      }
    }
  }
}
