#navbar {
  position: fixed;
  z-index:9;
  width: 100%;
  padding: 0;
  height: 100px;

  &.on-messages {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  }
  &.on-top, &.on-messages {
    #progress-bar {
      background: #5a3b38;
      #progress-bar-elapsed {
        background: #dab6b6;
      }
    }
    a {
      color: #907361;

      &.is-current {
        color: #995a64;
      }
    }
  }

  a {
    color: #f9f7f4;

    &.is-current {
      color: #d8c4c3;
    }
  }

  #progress-bar {
    border-radius: 10%;
    top: 10px;
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #ab8591;
    height: 3px;
    margin: auto;

    #progress-bar-elapsed {
      border-radius: 10%;
      background: #d69f95;
      height: 3px;
    }
  }

  ul {
    padding: 0;
    position: relative;
    margin: 18px auto 0;
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 600px;
  }
}

