@import 'theme.scss';
@import 'utils.scss';

@media (max-width: 425px) {
  #site.jp #navbar {
    font-size: 15px;
    letter-spacing: -1px;
  }
}

#site > nav {
  --active-item: #E38E10;
  --elapsed-scroll: #{$med1};
  --inactive-items: #C9A488;
  --remaining-scroll: #F2E1D7;
  background: $page-bg;
  height: 49px;
  margin-bottom: -49px;
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index:9;

  a {
    color: var(--inactive-items);
    &.is-current {
      color: var(--active-item);
    }
  }

  &.at-top {
    --active-item: #99675A;
    --elapsed-scroll: #946969;
    --inactive-items: #907361;
    --remaining-scroll: #5a3b38;
    background: transparent;

    #language-switcher {
      opacity: .5;
    }
  }

  &.at-header {
    --active-item: #FFFFFF;
    --elapsed-scroll: #d69f95;
    --inactive-items: #d8c4c3;
    --remaining-scroll: #ab8591;
    background: transparent;
  }

  &.at-intro {
    --active-item: #FFFFFF;
    --elapsed-scroll: #F9F7F4;
    --inactive-items: #FFDDCF;
    --remaining-scroll: #ECBAAC;
    background: $playlist-bg;
  }

  #progress-bar {
    background: var(--remaining-scroll);
    border-radius: 10%;
    height: 3px;
    margin: auto;
    max-width: 600px;
    position: relative;
    top: 10px;
    width: 90%;

    #progress-bar-elapsed {
      background: var(--elapsed-scroll);
      border-radius: 10%;
      height: 3px;
    }
  }

  ul {
    padding: 0;
    position: relative;
    margin: 18px auto 0;
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 600px;
  }
}
