@import 'theme.scss';
@import 'utils.scss';

@media (max-width: 425px) {
  #site.jp #navbar {
    font-size: 15px;
    letter-spacing: -1px;
  }
}

#navbar {
  --elapsed-scroll: #d69f95;
  --remaining-scroll: #ab8591;
  --active-item: #FFFFFF;
  --inactive-items: #d8c4c3;

  height: 49px;
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index:9;
  margin-bottom: -49px;
  a {
    color: var(--inactive-items);
    &.is-current { color: var(--active-item); }
  }

  &.at-top {
    --elapsed-scroll: #946969;
    --remaining-scroll: #5a3b38;
    --active-item: #99675A;
    --inactive-items: #907361;
    #language-switcher {
      opacity: .5;
    }
  }

  &.at-intro {
    background: $playlist-bg;
    --elapsed-scroll: #F9F7F4;
    --remaining-scroll: #ECBAAC;
    --active-item: #FFFFFF;
    --inactive-items: #FFDDCF;
  }

  &.at-playlist, &.at-messages, &.at-credits {
    background: $page-bg;-scroll: #{$med-1};
    --remaining-scroll: #F2E1D7;
    --active-item: #E38E10;
    --inactive-items: #C9A488;
  }

  #progress-bar {
    border-radius: 10%;
    top: 10px;
    position: relative;
    width: 90%;
    max-width: 600px;
    background: var(--remaining-scroll);
    height: 3px;
    margin: auto;

    #progress-bar-elapsed {
      border-radius: 10%;
      background: var(--elapsed-scroll);
      height: 3px;
    }
  }

  ul {
    padding: 0;
    position: relative;
    margin: 18px auto 0;
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 600px;
  }
}

